
body {width: 1500px;margin: auto;}

* {font-family: McLaren;}

header {height: 55px;margin-bottom: 100px;}

nav {position: absolute;border-color: red;border-style: solid;width: 1500px;height: 100px;}

nav img {width: 150px;height: 150px;margin-top: 25px ;padding:0px;margin-left:650px;}

nav p {font-size: 50px;text-align: center;margin-top: 0px;font-weight: bold;}

#title {text-align: center;font-size: 30px;position: absolute; margin-top: 150px;margin-left: 520px;}

aside {float: left; width: 250px;border-style: solid;border-color: red;display: block;height: 570px;overflow: hidden;overflow-y: scroll;margin-top:10px ;}

#imagesSection {display: inline-block;border-color:  red;border-style: solid;}

div img { border-style: solid;    cursor: grab;border-color: red;height: 350px;width: 350px; margin-bottom: 60px;margin-top: 230px;}

div p {width: auto;margin-left: 20px;word-wrap: normal;}

footer p {display:block;border-color:  red;border-style: solid;width: 1500px;text-align: center;margin-top: 110px;margin-left: 1px;}